body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b65200;
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

h2,
h3 {
  color: #111518;
}

button,
.btn {
  background-color: #b65200;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover,
.btn:hover {
  background-color: #873100;
}

footer {
  background-color: #b65200;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
}

.tabela-exemplo {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px 0;
}

.tabela-exemplo th,
.tabela-exemplo td {
  border: 1px solid #080808;
  padding: 8px;
  text-align: left;
}

.tabela-exemplo th {
  background-color: #b66100;
  color: white;
}

.secao {
  background-color: #b4bec7;
  border: 2px solid #b66d00;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

pre {
  background-color: #fff;
  border: 1px solid #131313;
  padding: 10px;
  overflow-x: auto;
}

ul {
  margin-top: 10px;
}

ul li {
  margin-bottom: 5px;
}
